body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#navbar{
  border-bottom: 1px solid;
}
#basic-nav-dropdown{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #009A48;
  margin-right: 50px;
}
#container-reg {
  width: 100%;
}
.container-fluid {
  width: 50%;
  background-color:  #edf3e7 ;
  margin: auto;
}
.Container-tabla{
  width: 90%;
  margin-left: 35px;
  border: 1px solid;
  padding: 10px;
}
#panelOpcion{
  width: auto;
  height: 500px;
  background-color: #e0f5ea;
  border-style: groove;
  border-radius: 5px;
  padding: 10px;
  margin-left: 5px;
}
#boton-insert{
  float: right;
}
/* #boton-item{
margin-bottom: 300px;
} */
#boton-opcion{
  display: block; 
  margin: 0 auto;
}
div.derecha {
  width: auto;
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
} 
#titulo1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  color: #009A48;
  text-align: center;
}
#tituloC{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 26px;
  font-style: bold;
  color: rgba(8, 4, 1, 0.952);
}
h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 26px;
  font-style: bold;
  text-align: center;
  color: rgba(233, 12, 45, 0.952);
}


